/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kalam&family=Playpen+Sans:wght@300;400&family=Reggae+One&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kalam&family=Playpen+Sans:wght@300;400&family=Reggae+One&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kalam&family=Playpen+Sans:wght@300;400&family=Reggae+One&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Grenze+Gotisch:wght@300&family=Kalam&family=Playpen+Sans:wght@300;400&family=Reggae+One&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Grenze+Gotisch:wght@300&family=Kalam&family=Orbitron:wght@400;500&family=Playpen+Sans:wght@300;400&family=Reggae+One&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Grenze+Gotisch:wght@300&family=Kalam&family=Orbitron:wght@400;500&family=Playpen+Sans:wght@300;400&family=Racing+Sans+One&family=Reggae+One&family=Rye&display=swap');
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* background-image: url(image\ 1.png);
  background-size: cover; */
  
}
.cook-btn{
  background-color:blueviolet;
  border: 1px solid aqua;
  width: 8vw;
  border-radius: 20px;
  height: 30px;
  margin-top: 10px;
  color: white;
  font-family: 'Racing Sans One',sans-serif;

}
/* Resetting default margin and padding, setting background image */
body {
    margin: 0;
    padding: 0;
    background-color:bisque;
    min-height: 100vh;
    background-size: cover;
    background-image: url('image/1.png');
    font-family: 'Playpen Sans',sans-serif;
    background-color: rgba(37, 40, 55, 100%); 
}

/* Navbar Styling */
.navbar {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    margin-top: -10px;
    margin: 0 auto; /* Center the navbar */
}

/* Styling for the logo image */
.navbar img {
    width: 20%;
    height: 90%;
    padding-left: 0px;
    margin-left: 10px;
}

/* Styling for the navigation menu */
.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Logo Styling */
.logo {
  background-color:rgba(31, 29, 43, 100%);
  font-family: 'Black Ops One', sans-serif;
    display: flex;
    gap: 20px;
    width: 50%;
    height: 80px;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 0%;
}

/* Styling for the text in the logo */
.logo_txt {
    font-size: 35px;
    color: orange;
}

/* Styling for the logo image */
.logo_image {
    width: 20%;
    border-radius: 50%;
    padding-left: 15px;
}
.search_div{
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Description Section Styling */
.description {
  color: white;
  width: 70vw;
  margin-left: 10%; /* Center the description box */
  font-family: 'Reggae One', sans-serif;
  border: 1px solid black;
  padding: 20px;
  background-color:rgba(31, 29, 43, 100%);
  border-radius: 25px;
  overflow: hidden; /* Hide overflow content during animation */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  animation: typing 6s steps(60, end); /* Adjust duration and steps as needed */
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 70vw;
  }
}


/* .popular{

} */
/* Random Section Styling */
.random {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;

}

/* Styling for the side image in the random section */
.side_image {
    width: 20%;
    margin-left: vw; /* Center the side image */
}

/* Results Section Styling */
#results {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Food Display Section Styling */
#food {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 8vw;
    justify-content: center;
    margin-top: 20px;
}
#ingredients::-webkit-scrollbar {
  display: none;
  background-color:rgba(31, 29, 43, 100%);

}


#ingredients {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

#ingredients:hover::-webkit-scrollbar {
  display: none;
}
/* Styling for each card in the food display section */
#card {
    width: 250px;
    border: 1px solid rgb(240, 235, 235);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px black;
    align-items: center;
    margin-left: 15%;
    background-color:rgba(31, 29, 43, 100%);
    font-family: 'Reggae One', sans-serif;
    color: white;
    margin-bottom: 20px; /* Add some space between cards */
}

/* Styling for the images within the cards */
#card img {
    width: 70%;
    border-radius: 40%;
    padding-top: 10px;
}

/* Styling for the heading within the cards */
#card h3 {
    margin-top: 10px;
    font-size: 18px; /* Adjust font size */
}

/* Styling for the paragraphs within the cards */
#card p {
    margin-top: 10px;
    font-size: 20px; 
    color: aqua;
    font-family: 'Orbitron',sans-serif;/* Adjust font size */
}

/* Ingredients Section Styling */
#ingredients {
    height: 80vh;
    
    font-size: 20px;
    text-align: center;
    overflow: scroll;
    /* filter: none; */
    /* margin: auto; */
    /* margin-top: 10vh;
    margin-left: 10vw; */
    border: 1px solid rgb(218, 157, 157);
    color: white;
    background-color:rgba(31, 29, 43, 100%);
    margin: auto;
    width: 60%;
    display: none;
    margin-top: 10vh;
    border-radius: 15px;
    
    
}
#ingredients_blur_div{
  height: 80vh;
  font-size: 20px;
      background-color:rgba(31, 29, 43, 100%);

  text-align: center;
  position: fixed;
  top: 0; 
  margin: auto;
}

/* Styling for images within the ingredients section */
#ingredients img {
    width: 35%;
    margin-top: 30px;
    border-radius: 50%;
    /* margin-left: 25vw; */

}

/* Back Button Styling within the ingredients section */
#backbutton {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    background-color:rgba(31, 29, 43, 100%);
    border-radius: 20px;
    font-family: 'Racing Sans One',sans-serif;


}

/* Styling for the back button image */
#backbutton img {
    margin-left: auto; /* Move the back button image to the right */
}

/* Styling for the back button itself */
#backbutton button {
    margin-right: 60px;
    margin-top: 60px;
    font-family: 'Racing Sans One',sans-serif;
    border-color: aqua;
}

/* Random Section Paragraph Styling */
.random p {
    width: 300px;
    font-size: 16px; /* Adjust font size */
    text-align: center;
    color: white;
    width: 100%;
    font-family: 'Grenze Gotisch', sans-serif;
}

/* Search Container Styling */
.search-container {
    position: relative;
    width: 300px;
    margin: 20px auto;
}

/* Styling for the search input box */
#searchInput {
    width: 20%;
    padding: 10px 40px 10px 20px;
    border: 2px solid #ee8f8f;
    border-radius: 30px;
    outline: none;
    margin-left: 25%;
    font-size: 16px;
    transition: all 0.4s ease;
    box-shadow: 0 4px 6px rgba(249, 248, 248, 0.1);
}
/* .randomfood{
  margin-left: 30%;
  width: 90vw;
} */

/* Styling for the search button */
#searchButton {
    border: 12px solid rgb(251, 250, 250);
    top: 50%;
    width: 90px;
    height: 30px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    background-color:rgba(31, 29, 43, 100%);
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Racing Sans One',sans-serif;
    color: orange;

}
#searchButton:hover{
  color: white;
  background-color:red;
}

/* Styling for the search button icon */
/* #searchButton img {
    width: 20px;
    height: 20px;
} */

/* Results Paragraph Styling */
#results p {
    font-size: 20px; /* Adjust font size */
    margin-left: 10%;
    margin-top: 20%;
    color: black;
    display: none;
}

/* Results Image Styling */
.results img {
    width: 30%;
    height: 30%;
}
.todaySpecial {
  font-size: 30px;
  color: orange;
  border: 1px solid black;
  width: 20vw;
  justify-content: center;
  padding: 10px;
  background-color:rgba(31, 29, 43, 100%);
  border-radius: 15px;
  font-family: 'Permanent Marker', sans-serif;
  animation: shake 0.5s ease-in-out infinite; /* Adjust duration and timing function as needed */
}

@keyframes shake {
  0%, 100% {
      transform: translateX(0);
  }
  25%, 75% {
      transform: translateX(-5px);
  }
  50% {
      transform: translateX(5px);
  }
}
#popular {
  animation: pop 1s ease-in-out infinite alternate;
  color:orange;

}

@keyframes pop {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
@media all and (max-width:600px) {

  .navbar img{
    width: 40px;
    height: 40px;

  }
  .logo_txt{
    font-size: 15px;
  }
  .description{
    font-size: 10px;

  }
  #searchInput{
    width: 29vw;
    font-size: 10px;
  }
  .todaySpecial{
    margin-top: 40px;
    width: 40vw;
    font-size: 20px;
  }
  .search_div{
    margin-top: 8vh;

  }
  .cook-btn{
    width: 19.5vw;
  }
  #popular{
    margin-top: 10vh;
  }
  #ingredients img{
    width: 80%;
  }
  #backbutton{
    margin-left: 30px;
  }
  #ingredients{
    width: 90%;
    margin-top: 15vh;
  }
}

